# Built files
*_i.c
*_p.c
*_h.h
*.exe
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.csv
*.pdf
*.db

# Cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/

# Others
**/.vscode/**
!**/.vscode/settings.json
**/.secrets/private/out/**
__pycache__
**/download

# SQL Server files
*.mdf
*.ldf
*.ndf
