<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Locked In Library</title>
  </head>
  <body>
    <h1>Locked In Library</h1>
    <nav>
      <a href="{{ url_for('main.index') }}">Home</a>
      <a href="{{ url_for('main.manage_users') }}">Users</a>
      <a href="{{ url_for('main.manage_books') }}">Books</a>
      <a href="{{ url_for('main.manage_loans') }}">Loans</a>
    </nav>
    <div>{% block content %}{% endblock %}</div>
  </body>
</html>
